#banner{
	background: url('./images/bg/bg-1.jpg') fixed no-repeat;
  background-position: center;
	background-size: cover;
	width: 100%;
	min-height: 589px;
	position: relative;
	top: 0;
}
.copyright {
	position: fixed;
	left: 0;
	bottom:0;
	width:100%;
	text-align: center;
}
.timeline-cover{
  background: url("./images/covers/1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 360px;
  border-radius: 0 0 4px 4px;
  position: relative;
}